* {
    box-sizing: border box;
    margin:0;
    padding:0;
}

title {
    font-size:50px;
    padding:20px 20px 20px 20px;
    font-style: initial;
} 
body{
    background-color: turquoise;
    padding-left:6%;
}
h1 {
    font-size:50px;
    font-family:'Comic Sans MS',cursive;
}
div {
    position:center;
    height:50%;
    width:40%;
    text-align:center;
    background-color: rgb(131, 128, 130); 
    font-family:'Comic Sans MS',cursive;
    border: 2px solid black;
    margin:20px;
    font-weight: 550;
    /*padding-left:15px;*/
    overflow: auto;
    
}
/*#third {
    
    height:60%;
    width:85%;
}*/
p {
    position:relative;
    top:0px;
    right:0%;
    font-family:'Comic Sans MS',cursive;
    width:140px;
    text-align: center;
    border-top:1px solid black;
    border-left:2px solid black;
    border-bottom:2px solid black;
    border-right:2px solid black;
    padding:5px;
    margin-top:0px;
}
#div1{
    right:0%;
    background-color:rgb(169, 10, 190);
}
#div2 {
    right:0%;
    background-color: cyan;
}
#div3 {
    right:0%;
    background-color:#3aee2a;
}
/* @media (min-width = 100px) 
  {
    
       
    
}
*/
